@import '../style/colors';

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $textColor;

    & > div {    
        & > p {
            padding-left: .4em;
            font-size: .9em;
        }
    }


    & > img {
        height: 10em;
    }
}

.entryIcon {
    color: black;
}

.readme {
    img {
        max-width: 100%;
    }
}