@import '../style/colors';

.entry {
    .entry {
        display: block;
        text-decoration: none;
        color: inherit;
        padding: 20px;
        margin: .2em 0;

        border-bottom: 1px solid $backgroundColor;
        border-top: 1px solid $backgroundColor;
    
        & > h3 {
            margin: 0;
    
            & > span {
                font-size: .6em;
                margin-left: .3em;
            }
        }
    
        & > p {
            margin: 0;
            color: $textColor;
        }
    
        &:focus {
            outline: none;
        }
    }
}