@import '../style/colors';

.root {

    & > div {
        display: inline-flex;
        align-items: center;
        vertical-align: middle;

        & > a {
            font-size: .9em;
            margin: .5em;
            color: $midColor;
            vertical-align: middle;
            text-decoration: none;
            transition: color 150ms ease-in-out;

            &:hover {
                color: $brightColor;
            }
        }
    }
}